.version {
  font-size: 10px;
  color: #cccccc;
}

#imgwip {
  width: 100px;
}

.larastable {
  border: 2px solid darkgrey;
}

.larastable td,
.larastable th {
  padding-right: 5px;
  padding-left: 5px;
  text-align: left;
}

.btn-tile {
  border: solid 1px #fab;
  width: 150px;
  height: 150px;
  margin: 10px;
  overflow: hidden;
  background-color: #aaa;
  text-align: center;
  cursor: pointer;
  white-space: normal;
  font-size: large;
  font-weight: 200;
}

#intranet_logo {
  margin-left: 30px;
  float: left;
}

#intranet_logo a {
  background: url(/images/layout/layout.png) no-repeat 0px;
  width: 165px;
  height: 90px;
  display: block;
}

.clickable-row {
  cursor: pointer;
}

.smallpadding {
  padding: 4px;
}

.titlebar {
  background-color: #1E4F67;
  color: white;
  padding: 8px;
}

